html,
body {
  height: 100%;
  /* 确保 body 占满整个视口高度 */
  margin: 0;
}

body {
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#board {
  background-color: #6f6f6f;
  gap: 2px;
}

.sweeperInfo {
  display: flex;
}

#grid {
  margin: auto;
  /* 水平居中 */

}

.cell {
  width: 30px;
  height: 30px;
  background-color: #ccc;
  border: 1px solid red;
  /*999*/
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  /* 单元格内容居中 */
}