html,
body {
  height: 100%;
  /* 确保 body 占满整个视口高度 */
  margin: 0;
}

body {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#difficultyButtons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#difficultyButtons button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#difficultyButtons button:hover {
  background-color: #0056b3;
}


#board {
  background-color: #6f6f6f;
}

.sweeperInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-family: 'Arial', sans-serif;
}

#remainingMines,
#timer,
#resetButton {
  font-size: 18px;
  margin: 0 10px;
}

#resetButton {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#resetButton:hover {
  background-color: #0056b3;
}

#grid {
  margin: auto;
  /* 水平居中 合并单元格边框*/
  border-collapse: collapse;
}

.cell {
  width: 30px;
  height: 30px;
  background-color: #ccc;
  border: 1px solid #999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  user-select: none;
  /* 禁用文本选择 */
}

.cell.mine {
  background-color: red;
  /* 雷的背景颜色 */
}

.cell.flagged {
  color: red;
  /* 旗子的颜色 */
}

.cell.revealed {
  background-color: #eee;
  /* 已显示的单元格背景颜色 */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cell.lockclick {
  /* css禁用鼠标点击事件 */
  pointer-events: none;
}